<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Add Modules{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div style="font-size:300%;">Add a module.</div>
<form class="addModuleForm">
    {{ form.hidden_tag() }}
    
    <div class="formField">
    {{ form.module_code }}
    {% if form.module_code.errors %}
        <div class="errorMessage">
        {% for error in form.module_code.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </div>
    {% endif %}
    </div>
    
    <div class="formField">
    {{ form.module_name }}
    {% if form.module_name.errors %}
        <div class="errorMessage">
        {% for error in form.module_name.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </div>
    {% endif %}
    </div>
    
    <div class="formField">
    {{ form.quota }}
    {% if form.quota.errors %}
        <div class="errorMessage">
        {% for error in form.quota.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </div>
    {% endif %}
    </div>
    
    <div class="formField">
    {{ form.supervisor }}
    {% if form.supervisor.errors %}
        <div class="errorMessage">
        {% for error in form.supervisor.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </div>
    {% endif %}
    </div>
    
    <div class="formField">
    {{ form.prerequisite }}
    {% if form.prerequisite.errors %}
        <div class="errorMessage">
        {% for error in form.prerequisite.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </div>
    {% endif %}
    </div>

    <button id="addModuleButton" formmethod="post">Add Module</button>
</form>
{% endblock %}