<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Module</title>

    <link rel="stylesheet" href="static/css/style-simple.css">
</head>
<body>
    <div style="font-size:300%;">Add a module.</div>
    <form class="addModuleForm">
	
		<div class="formField">
        {{ form1.module_code }}
        {% if form1.module_code.errors %}
            <div class="errorMessage">
            {% for error in form1.module_code.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </div>
        {% endif %}
        </div>
		
		<div class="formField">
        {{ form1.module_name }}
        {% if form1.module_name.errors %}
            <div class="errorMessage">
            {% for error in form1.module_name.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </div>
        {% endif %}
        </div>
		
        <div class="formField">
        {{ form1.quota }}
        {% if form1.quota.errors %}
            <div class="errorMessage">
            {% for error in form1.quota.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </div>
        {% endif %}
        </div>

		<div class="formField">
		{{ form1.submit1 }}
		</div>
        
    </form>
	
	<div style="font-size:300%;">Delete a module.</div>
	<form class="deleteModuleForm">
	
		<div class="formField">
        {{ form2.module_code }}
        {% if form2.module_code.errors %}
            <div class="errorMessage">
            {% for error in form2.module_code.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </div>
        {% endif %}
        </div>
		
		<div class="formField">
        {{ form2.module_name }}
        {% if form2.module_name.errors %}
            <div class="errorMessage">
            {% for error in form2.module_name.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </div>
        {% endif %}
        </div>

		<div class="formField">
		{{ form2.submit2 }}
		</div>
        
    </form>
	
	
</body>
</html>
