<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.logo{
  text-align: center;
}
</style>

<head>
<title>{% block title %}{% endblock %}</title>
</head>

<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <div class="w3-left w3-hide-small">Mod Reg</div>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="/userhome" class="w3-bar-item w3-button">Home</a>
      <a href="/search" class="w3-bar-item w3-button">Search</a>
      <a href="/logout" class="w3-bar-item w3-button">Logout</a>
    </div>
  </div>
</div>

<div style="margin-top:60px;">
{% block content %}{% endblock %}
</div>

</body>
</html>