<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="static/css/style-simple.css">
</head>
<body>
    <div>Login</div>
    <form class="loginForm">
        {{ form.hidden_tag() }}
        
        <div class="formField">
        {{ form.username }}
        {% if form.username.errors %}
            <div class="errorMessage">
            {% for error in form.username.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </div>
        {% endif %}
        </div>

        <div class="formField">
        {{ form.password }}
        {% if form.password.errors %}
            <div class="errorMessage">
            {% for error in form.password.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </div>
        {% endif %}
        </div>
        
        <button id="searchButton" formmethod="post">Login</button>
    </form>
</body>
</html>