<!DOCTYPE html>
<html>
<head>
<style>

  body {

    /* The image used */
    background-image: url("static/images/background.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .center {
  line-height: 500px;
  height: 500px;
  text-align: center;
  }


</style>
</head>
<body style="color:red;font-size:50px;">

  <div class="center">
    <p>Have a nice day</p>
  </div>

</body>
</html>
