<!DOCTYPE html>
<html>
<head>
<style>

  body {

    /* The image used */
    background-image: url("static/images/background.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .center {
  line-height: 500px;
  height: 500px;
  text-align: center;
  }


</style>
</head>
<body style="color:orange;font-size:100px;">

<div class="center">
    <p>Have a nice day</p>
</div>
<br/>
<div class="w3-right w3-hide-small">
    <a href="/login" class="w3-bar-item w3-button">Login</a>
</div>

</body>
</html>
