<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>

    <link rel="stylesheet" href="static/css/style-simple.css">
</head>
<body>
    <form class="searchForm">
        {{ form.hidden_tag() }}

        <div class="formField">
        {{ form.search }}
        {% if form.search.errors %}
            <div class="errorMessage">
            {% for error in form.username.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </div>
        {% endif %}
        </div>

        <button id="searchButton" formmethod="post">Search</button>
    </form>
</body>
</html>