<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>

    <link rel="stylesheet" href="static/css/style-simple.css">
</head>
<body>
    <form class="searchForm">
        {{ form.hidden_tag() }}
        <div class="formField">
        {{ form.search }}
        {% if form.search.errors %}
            <div class="errorMessage">
            {% for error in form.username.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </div>
        {% endif %}
        </div>
        <button id="searchButton" formmethod="post">Search</button>
        <br>
        <table id="datatable-keytable" class="table table-striped table-bordered jambo_table bulk_action" width="100%" >
        <thead>
            <tr> 					
                <th>Module Code</th>
                <th>Name</th>
                <th>Professor</th>
                <th>Description</th>
                <th>Quota</th>
            </tr>
        </thead>					 
        <tbody>					  
            {% for x in data%}
            <tr> 						
                <td>{{x.module_code}}</td>
                <td>{{x.name}}</td>
                <td>{{x.prof_id}}</td>													
                <td>{{x.description}}</td>	
                <td>{{x.quota}}</td>								
            </tr>
            {% endfor %}													
        </tbody>
        </table>
    </form>
</body>
</html>