<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="w3-row w3-padding-64">
  <h1 class="logo" style="position:relative;top:30px;" >Welcome to module registration!</h1>
  <br/>
  <table id="hometable" class="table table-striped table-bordered jambo_table bulk_action" width="80%" align="center">
    <thead>
        <th>Students</th>
        <th>Staff</th>
        <th>Admin</th>
    </thead>
    <tbody align="left">
        <tr>
            <td><a href="/studentmodule">Add/Drop Modules</a></td>
            <td><a href="/prof">Professor Records</a></td>
            <td><a href="/addmodule">Add Modules</a></td>
        </tr>
        <tr>
            <td><a href="/prerequisites">Module Prerequisites</a></td>
            <td><a href="/stulist">Student Lists</a></td>
            <td><a href="/deletemodule">Delete Modules</a></td>
        </tr>
        <tr>
            <td><a href="/studentrecord">Student Records</a></td>
            <td><a href="/updatemodule">Update Module Names</a></td>
            <td><a href="/manual">Manual Add</a></td>
        </tr>
    </tbody>
  </table>
</div>
{% endblock %}
