<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="w3-row w3-padding-64">
  <h1 class="logo" style="position:relative;top:30px;" >Welcome to module registration!</h1>
  <br/>
  <table id="hometable" class="table table-striped table-bordered jambo_table bulk_action" width="80%" align="center">
    <tbody align="left">
        <tr>
            <td><a href="/studentrecord">Students</a></td>
            <td><a href="/prof">Staff</a></td>
            <td><a href="/prof">Staff</a></td>
            <td><a href="/prof">Staff</a></td>
        </tr>
    </tbody>
  </table>
</div>
{% endblock %}
